body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 12px;
}

.el-button,
.el-table,
.el-form-item__label {
  font-size: 12px;
}

.el-table thead {
  color: #000;
}

.el-dialog__body {
  padding: 10px 20px 0 20px;
}